* {
  box-sizing: border-box;
  transition: 0.5s; 
  outline: none;
  font-family: 'Open Sans', sans-serif;
}
.body{
  margin-top:-870px;
}
header{
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.headerPicture{
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 220px;
}
.title {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: relative;
  margin-left: 10%; 
  margin-top: 50px; 
  color: white;
  font-weight: bold;
}
.donate_img {
  position: relative;
  margin-bottom: 500px;
  width:18%;
  margin-left: 18%;
  z-index: 1000;
}
.textheader{
  position: relative;
  width: 25%;
  top: -780px;
  margin-left: 37%;
}
.text1 {
  color: rgb(70, 70, 70);
  font-size: 20px;
}
/* card1 */
.card1 {
  position: relative;
  background-color: white;
  width: 220px;
  height: 300px;
  box-shadow: 10px 10px 50px 1px rgb(175, 175, 175);
  right: 40%;
  margin-top: -675px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
}
.clean_img {
  width: 100px;
  height: 100px;
  /* position: relative; */
  top: 10px;
}
.btn {
  cursor: pointer;
  width: auto;
  height: auto;
  bottom: 10px;
  padding: 20px;
  border-radius: 100px;
  color: white;
  outline: none;
  background-color: rgb(157, 87, 223);
  font-size:20px
}
.text2 {
  height: 80px;
  margin-top: 20px;
  font-size: large;
  color: rgb(53, 53, 53);
}
/* card2 */
.card2 {
  position: relative;
  background-color: white;
  width: 18%;
  height: auto;
  box-shadow: 10px 10px 50px 1px rgb(175, 175, 175);
  left: 67%;
  top: -750px;
  border-radius: 10px;
  text-align: center;
  z-index: 1000;
}
button:hover{
  background-color: rgb(224, 169, 18);
  }

.bottom {
    width:75%;
    height: auto;
    top:-745px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#000000;
    background-color:rgb(255, 255, 255);
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position: relative;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.bottom i {
    position:absolute;
    bottom:100%;
    left:85%;
    margin-left:-12px;
    width:24px;
    height:12px;
}
.bottom i::after {
    content:'';
    position: absolute;
    width:12px;
    height:12px;
    left:90%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:rgb(255, 255, 255);
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
@media screen and (max-width: 870px) {
  .body{
    margin-top:-660px;
  }
  .bottom {
    width:85%;
    height: auto;
    top:-735px;
    left:55%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#000000;
    background-color:rgb(255, 255, 255);
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position: relative;;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.bottom i {
    position:absolute;
    bottom:100%;
    left:80%;
    margin-left:-12px;
    width:24px;
    height:12px;
}
.bottom i::after {
    content:'';
    position: absolute;
    width:12px;
    height:12px;
    left:90%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:rgb(255, 255, 255);
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
  .title {
    margin-top: 20px; 
  }
  .headerPicture{
    height: 200px;
  }
  .card2 {
    width: 30%;
    top: -675px;
  }
  .text2 {
    font-size: 1rem;
  }
  .btn {
    font-size:17px
  }
  .clean_img {
    width: 75px;
    height: 50px;
  }
  .text1 {
    color: rgb(70, 70, 70);
    font-size: 13px;
    font-weight: bold;
  }
  .textheader{
    width: 25%;
    top: -625px;
    margin-left: 36%;
  }
  .donate_img {
margin-top: 0px;
    width:20%;
    margin-left: 15%;
  }
}
@media screen and (max-width: 500px) {
  .body{
    margin-top:-460px;
  }
  .bottom {
    width:85%;
    height: auto;
    top:-490px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#000000;
    background-color:rgb(255, 255, 255);
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position: relative;;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.bottom i {
    position:absolute;
    bottom:100%;
    left:46%;
    margin-left:-12px;
    width:24px;
    height:12px;
}
.bottom i::after {
    content:'';
    position: absolute;
    width:12px;
    height:12px;
    left:90%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:rgb(255, 255, 255);
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
  .title {
    font-size: 1.5rem;
  }
  .headerPicture{
    height: 100px;
  }
  .card2 {
    width: 30%;
    height: auto;
    top: -500px;
    margin-left: -33%;
  }
  .text2 {
    font-size: 0.5rem;
    margin-bottom: -30px;
  }
  .btn {
    font-size:13px;
    bottom: 0px;
    padding: 10px;
  }
  .clean_img {
    width: 50%;
    margin-top: 20px;
  }
  .text1 {
    color: rgb(70, 70, 70);
    font-size: 15px;
    font-weight: bold;
    margin-left: -10%;
  }
  .textheader{
    width: 75%;
    top: -515px;
    margin-left: 33%;
  }
  .donate_img {
margin-top: -40px;
    width:25%;
    margin-left: 35%;
  }
}
@media screen and (max-width: 367px) {
  .bottom {
    width:85%;
    height: auto;
    top:-490px;
    left:50%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#000000;
    background-color:rgb(255, 255, 255);
    font-weight:normal;
    font-size:14px;
    border-radius:8px;
    position: relative;;
    z-index:99999999;
    box-sizing:border-box;
    display:none;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
.bottom i {
    position:absolute;
    bottom:100%;
    left:46%;
    margin-left:-12px;
    width:24px;
    height:12px;
}
.bottom i::after {
    content:'';
    position: absolute;
    width:12px;
    height:12px;
    left:90%;
    transform:translate(-50%,50%) rotate(45deg);
    background-color:rgb(255, 255, 255);
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}
  .title {
    font-size: 1.5rem;
  }
  .headerPicture{
    height: 100px;
  }
  .card2 {
    width: 50%;
    height: auto;
    top: -500px;
    margin-left: -42%;
  }
  .text2 {
    font-size: 0.5rem;
    margin-bottom: -30px;
  }
  .btn {
    font-size:13px;
    bottom: 0px;
    padding: 10px;
  }
  .clean_img {
    width: 50%;
    margin-top: 20px;
  }
  .text1 {
    color: rgb(70, 70, 70);
    font-size: 13px;
    font-weight: bold;
    margin-left: -20%;
  }
  .textheader{
    width: 75%;
    top: -515px;
    margin-left: 33%;
  }
  .donate_img {
margin-top: 0px;
    width:25%;
    margin-left: 35%;
  }
}
