*{
    transition: 0.5s; 
}
.HeaderPicture{
    position: absolute;
    margin-left: 54.3%;
    top: -30px;
    width: 45%;
}
.headerContent{
    position: relative;
    height: auto;
    margin-top: 125px;
    left: 11%;
    width: 35%;
    background:transparent;
}
button:hover{
background-color: rgb(224, 169, 18);
}
.RefaeePicture{
    margin-left: 20%;
}
.Text_First{
position: relative;
top: 50px;
    margin-left: 11%;
    color: rgb(255, 208, 0);
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.First_Title{
    position: relative;
    margin-top: -5px;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;

}
.First_Line_Par{
    color: rgb(80, 78, 78);
    position: relative;
    top: 0px;
    width: 100%;
    font-size: 1em;
    font-family: 'Open Sans',sans-serif;
}
.GetStarted{
    /* position: absolute; */
   font-size:20px;
    /* margin-left: 11%; */
    margin-top: 20px;
    height: auto;
    padding: 10px;
    width: 50%;
    background-color: rgb(80, 15, 100);
    color: white;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 4px 4px 20px rgb(98, 98, 226);
border-radius: 30px;
border: none;
outline: none;
cursor: pointer;
}
.picture_border{
    position: absolute;
   margin-top:0px;
   width: 10%;
   left: 0;
}
.textcontent{
    position: relative;
background:transparent;
margin-left: 15%;
margin-top: 65px;
width: 74%;
height: auto;
}
.First_Line_Content{
    position: relative;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Open Sans',sans-serif;
    text-align: center;
}
.AllList{
    position: relative;
    background: transparent;
    height: 485px;
}
.FirstList{
    position: absolute;
    margin-top:0px;
    margin-left: 14%;
    border-radius: 8px;
    box-shadow: 0px 8px 20px 0px rgb(143, 143, 209);
    width: 22%;
    height: auto;
}
.SecondList{
    position: absolute;
    margin-top: 0px;
    margin-left: 38%;
    border-radius: 8px;
    box-shadow: 0px 8px 20px 0px rgb(143, 143, 209);
    width: 22%;
    height: auto;
}
.TherdList{
    position: absolute;
    margin-top: 0px;
    margin-left: 62%;
    border-radius: 8px;
    box-shadow: 0px 8px 20px 0px rgb(143, 143, 209);
    width: 22%;
    height: auto;
}
.donatePicture{
    width: 75%;
    margin-left: 15%;
    height: 200px;
}
.titleUnderDonatePicture{
    text-align: center;
    font-size: 20px;
    margin-left: 10%;
    margin-top: 0px;
    font-family: 'Open Sans',sans-serif;
}
.FirstParUnderDonatePicture{
    margin-top: -10px;
    color: rgb(65, 63, 63);
    font-size: 13px;
    margin-left: 16%;
    font-family: 'Open Sans',sans-serif;
}
.ButFirstList{
    position: relative;
    font-size:20px;
    width: 60%;
    margin-bottom: -2em;
    margin-left: 23%;
    padding: 10px;
    height: auto;
    background-color: rgb(80, 15, 100);
    color: white;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 4px 4px 20px rgb(98, 98, 226);
border-radius: 30px;
border: none;
outline: none;
cursor: pointer;
}
.CompanyPicture{
    width: 75%;
    margin-left: 15%;
    height: 225px;
}
.titleUnderCompanyPicture{
    font-size: 20px;
    text-align: center;
    margin-top: -23px;
    font-family: 'Open Sans',sans-serif;
}
.FirstParUnderCompanyPicture{
    margin-top: 27px;
    color: rgb(65, 63, 63);
    font-size: 13px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
 
}
.ButSecondList{
    font-size:20px;
    width: 60%;
    margin-top: 17px;
    margin-bottom: -2em;
    padding: 10px;
    margin-left: 23%;
    height: auto;
    background-color: rgb(80, 15, 100);
    color: white;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 4px 4px 20px rgb(98, 98, 226);
border-radius: 30px;
border: none;
outline: none;
cursor: pointer;
}
.titleUnderassociationPicture{
    font-size: 20px;
text-align: center;   
 margin-top: -22px;
    font-family: 'Open Sans',sans-serif;
}
.FirstParUnderassociationPicture{
    text-align: center;
    margin-top: 5px;
    color: rgb(65, 63, 63);
    font-size: 13px;
    margin-left: 8%;
    font-family: 'Open Sans',sans-serif;
}
.ButTherdList{
    font-size:20px;
    width: 60%;
    margin-top: 12px;
    margin-bottom: -1em;
    margin-left: 23%;
    height: auto;
    padding: 10px;
    background-color: rgb(80, 15, 100);
    color: white;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 4px 4px 20px rgb(98, 98, 226);
border-radius: 30px;
border: none;
outline: none;
cursor: pointer;
}
.Signal{
    color: rgb(224, 169, 18);
    position: relative;
    margin-top: -50px;
    text-align: center;
    font-size: 75px;
}
.FirstTitleAfterSignal{
    color: rgb(224, 169, 18);
    position: relative;
    margin-top: -90px;
    text-align: center;
    font-size: 2.3rem;  
    font-family: 'Open Sans',sans-serif;
}
.lists2{
    position: relative;
    height: 375px;
    width: 90%;
    margin-left: 5%;
}
.ShareList{
    position: absolute;
    margin-top: 0px;
    margin-left: 20%;
    background:transparent;
    width: 25%;
    height: auto;
}
.sharePicture{
    margin-left: 30%;
}
.titleUnderSharePicture{
    font-family: 'Open Sans',sans-serif;
text-align: center;
}
.FirstParUnderSharePicture{
    color: rgb(36, 34, 34);
    margin-left: 8%;
    font-family: 'Open Sans',sans-serif;
    margin-top: -17px;
    text-align: center;
}
.GiveTipList{
    position: absolute;
    margin-top: 0px;
    background:transparent;
    margin-left: 56%;
    width: 20%;
    height: auto;
}
.tipPicture{
    width: 125px;
    margin-top: -10px;
    margin-left: 28%;
}
.titleUndertipPicture{
    text-align: center;
        font-family: 'Open Sans',sans-serif;
    margin-top: 0px; 
font-size: 1.7rem;
}
.FirstParUndertipPicture{
    color: rgb(36, 34, 34);
text-align: center;
    font-family: 'Open Sans',sans-serif;
    margin-top: -5px;
    margin-bottom: 47px;
}
.share{
    font-size:20px;
    z-index: 50;
    width: 70%;
    margin-top: 10px;
    padding: 10px;
    margin-left: 15%;
    height: auto;
    background-color: rgb(80, 15, 100);
    color: white;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 4px 4px 20px rgb(98, 98, 226);
border-radius: 30px;
border: none;
outline: none;
cursor: pointer; 
}
.Give{
    font-size:20px;
    width: 85%;
    /* margin-top: 0px; */
    height: auto;
    padding: 10px;
    margin-left: 6%;
    background-color: rgb(80, 15, 100);
    color: white;
    font-family: 'Open Sans',sans-serif;
    box-shadow: 4px 4px 20px rgb(98, 98, 226);
border-radius: 30px;
border: none;
outline: none;
cursor: pointer; 
}
a{
    text-decoration: none;
}
.bottom{
    position: relative;
    width:40%;
    top: 325px;
    left: 40%;
    transform:translate(-50%, 0);
    padding:10px 20px;
    color:#000000;
    background-color:rgb(255, 255, 255);
    font-weight:normal;
    font-size:13px;
    z-index: 100;
    border-radius:8px;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    display:none;
}
.icon{
    width: 40px;
}
.link{
    margin-top: 10px;
}
.label{
    cursor: pointer;
    color: rgb(144, 144, 144);
    height: 100%;
    position: relative;
    bottom: 15px;
    left: 10px;
}
.label:hover{
color: rgb(19, 44, 168);
}
.icon_close{
    position: relative;
   margin-top: -135px;
    cursor: pointer;
    width: 40px;
    float:right;
}

.CarListEmail{
    position: relative;
    margin-top: 0px;
    width: 65%;
    margin-left: 17%;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 23px 2px rgb(167, 161, 161);
}
.borderPictureEmail{
    position: absolute;
margin-top: -360px;
clip: rect(360px 500px 1000px 0px);
border-radius: 30px;
height: auto;
}
.CarPicture{
    margin-left: 43%;
    margin-top: 40px;
    background: transparent;
}
.FirstLineAftreCar{
    color: rgb(88, 86, 86);
   text-align: center;
   margin-left: 14%;
    font-family: 'Open Sans',sans-serif;
    margin-top: 15px;
font-size: 22px;
}
.vr{
    font-size: 25px;
}
.Emailtext{
    width: 75%;
    margin-left: 10%;
    height: 115px;
}
.TherdLineAftreCar{
    text-align: center;
    color: rgb(121, 119, 119);
    margin-left: 23%;
    font-family: 'Open Sans',sans-serif;
    margin-top: 0px;  
  font-size: 16px;
}

.Email_To{
    text-decoration: none;
    color: rgb(255, 187, 0);
}
.Who_We{
    position: relative;
    margin-top: 70px;
    text-align: center;
    font-family: 'Open Sans',sans-serif;
}
.SophianPictureList{
    position: absolute;
    text-align: center;
    margin-top: 0px;
    margin-left:18%;
}
.BasharPictureList{
    position: absolute;
    text-align: center;
    margin-top: 210px;
    margin-left:18%;
}
.HalaaPictureList{
    position: absolute;
    margin-top: 420px;
    text-align: center;
    margin-left:18%;
}
.sophianPicture{
    border-radius: 40% 40% 40%  ;
    width: 125px;
    height:115px;
}
.RefaeePicture{
    border-radius: 40% 40% 40%  ;
    width: 125px;
    height:115px;
}
.basharPicture{
    border-radius: 40% 40% 40%  ;
    width: 125px;
    height:115px;
    padding-left: 17px;
}
.titleUndesophianPicture{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.titleUndeBasharPicture{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;

}
.FirstParUndesophianPicture{
    color: rgb(36, 34, 34);
    text-align: center;
    margin-top: -7px;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.AntoinePictureList{
    position: absolute;
    text-align: center;
    margin-top: 0px;
    margin-left: 43.7%;
}
.HamzaPictureList{
    position: absolute;
    margin-top: 210px;
    margin-left: 40%;
}
.PashuPictureList{
    position: absolute;
    text-align: center;
    margin-top: 420px;
    margin-left: 43.7%;
}
.AntoinePicture{
    padding-left: 12px;
    width: 125px;
    height:115px;
}
.HamzaPicture{
    width: 125px;
    height:115px;
    padding-left: 60px;
}
.titleUndeAntoinePicture{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.FirstParUndeAntoinePicture{
    color: rgb(36, 34, 34);
    text-align: center;
    margin-top: -7px;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.FirstParUndeHamzaPicture{
    color: rgb(36, 34, 34);
    text-align: center;
    margin-top: -7px;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.YohannPictureList{
    position: absolute;
    text-align: center;
    margin-top: 0px;
    margin-left: 69%;
}
.RefaeePictureList{
    position: absolute;
    margin-top: 210px;
    margin-left: 69%;
}
.YohannPicture{
    width: 125px;
    height:115px;
    padding-left: 40px;
}
.titleUndeYohannPicture{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.FirstParUndeYohannPicture{
    color: rgb(36, 34, 34);
    text-align: center;
    margin-top: -7px;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
.FirstParUndeYohannePicture{
    color: rgb(36, 34, 34);
    text-align: center;
    margin-top: -7px;
    font-family: 'Open Sans',sans-serif;
    font-size: 13px;
}
footer{
    position: absolute;
    text-align: center;
    background-color: rgb(80, 75, 75);
    margin-top: 700px;
    width: 99.2%;
    /* height: 10px; */
    left: 0px;
    padding: 5px;
}
.linkFooter{
    font-family: 'Open Sans', sans-serif;
    color: #ffe600;
    text-decoration: #ffe600;
}
@media only screen and (max-width: 1009px){
    .FirstParUndertipPicture{
        margin-top: 40px;   
    }

}
@media only screen and (max-width: 1009px){
    .FirstParUndertipPicture{
        margin-bottom:47px;   
    }

}
@media only screen and (max-width: 966px){
    .FirstParUndertipPicture{
        margin-top: -15px;   
    }

}
@media only screen and (max-width: 830px){
 
    .Give{
margin-top: -37px;
    }

}
 @media only screen and (max-width: 800px){ 
     .HeaderPicture{
        position: absolute;
        margin-left: 53.7%;
        top: -30px;
        width: 45%;
     }
     .Text_First{ 
         font-size: 28px; 
         top: 10px;
    }
    .First_Title{

        font-size: 1rem;

    }
    .First_Line_Par,.Second_Line_Par,.Therd_Line_Par,.Forth_Line_Par,.Fifth_Line_Par{
        font-size: 0.7rem;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .GetStarted{
        font-size:15px;
        margin-left: 9%;
    }
    .picture_border{
        width: 9%;
    }
    .headerContent{
        margin-top: 60px;
    }
    .First_Line_Content{
        /* margin-left: %; */
        font-size: 1rem;
        margin-top: -20px;
    }
    .FirstList{
        /* width: 25%; */
        /* margin-top:420px; */
        margin-left: 14%;
        /* height: 185px; */
    }
    .SecondList{
        /* width: 25%; */
        /* margin-top:420px; */
        margin-left: 38%;
        /* height: 185px; */
    }
    .TherdList{
        /* width: 25%; */
        /* margin-top:420px; */
        margin-left: 62%;
        /* height: 185px;  */
    }
    .donatePicture,.CompanyPicture{
        height: 115px; 
    }
    .titleUnderDonatePicture,.titleUnderDonateePicture,.titleUnderCompanyPicture{
        font-size: 14px;
        margin-top: -10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .FirstParUnderDonatePicture{
        font-size: 10px;
        margin-top: -20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .ButFirstList,.ButSecondList,.ButTherdList{
        font-size:15px;
        /* margin-top:-2px; */
        margin-left: 10%;
        width: 80%;
    }

    .FirstParUnderCompanyPicture{
        font-size: 10px;
        margin-top: 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .ButSecondList{
        margin-top: 15px;
    }
    .titleUnderassociationPicture{
        font-size: 14px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .FirstParUnderassociationPicture{
        font-size: 10px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
    .Signal{
        margin-top: -200px;
        font-size: 60px;
    }
    .FirstTitleAfterSignal{
        margin-top: -60px;
        font-size: 27px;  
    }
    .SecondTitleAfterSignal{
        font-size: 27px;
        margin-top: -25px;
    }
    .ShareList{
        margin-top: 0px;
        /* margin-left: 25%; */
    }.sharePicture,.tipPicture{
        width: 65px;
    }
    .titleUnderSharePicture{
        font-size: 20px;
    }
    .FirstParUnderSharePicture,.SecondParUnderSharePicture,.TherdParUnderSharePicture{
    font-size: 12px;
    margin-top: -12px;
    }
    .GiveTipList{
        margin-top: 0px;
        margin-left: 65%;
    }
    .titleUndertipPicture{
        font-size: 20px;

        margin-top: 22px; 
    }
    .FirstParUndertipPicture{
        font-size: 12px;
        margin: 20px;
        margin-bottom: -13px;
    }

    .Give{
        margin-top: 25px;
    }
    .bottom{
        position: absolute;
        min-width:75%;
        font-size:13px;
        margin-top: -75px;
        margin-left: 17%;
    }
    .icon_close{
        float: right;
    }
    .CarListEmail{
        margin-top: -100px;
        width: 80%;
        margin-left: 12%;
        height: auto; 
    }
    .CarPicture{
        width: 100px;
        margin-left: 45%;
    }
    .FirstLineAftreCar,.SecondLineAftreCar{
                font-size: 15px;
    }
    .vr{
    font-size: 20px;
    }
 
    .TherdLineAftreCar,.ForthLineAftreCar{
        font-size: 15px; 
    }

    .borderPictureEmail{
        clip: rect(360px 500px 1000px 0px);
        height: auto;
    }
    .Who_We{
        margin-top: 75px;
        font-size: 28px;
    }
    .SophianPictureList{
        margin-top: 0px;
        margin-left:8%;
    }
    .AntoinePictureList{
        margin-top: 0px;
        margin-left:42%;
    }
    .HamzaPictureList{
        margin-top: 210px;
        margin-left:0%;
    }
    .BasharPictureList{
        margin-top:210px;
        margin-left:75%;
    }
    .HalaaPictureList{
        margin-left:8%;
        margin-top: 420px;
    }
    .PashuPictureList{
        margin-left:42%;
        margin-top: 420px;
    
    }
    .YohannPictureList{
        margin-top: 0px;
        margin-left:75%;
    }
    .RefaeePictureList{
        margin-top: 210px;
        margin-left:38%;
    }
    footer{
        margin-top: 700px;
    } 
    .borderPictureEmail{
        width: 27%;
    }
}
@media only screen and (max-width: 737px){
    .share{
        margin-top: -10px;
        width: 80%;
    }
}
@media only screen and (max-width: 714px){
    .Give{
margin-top: 35px;
    }
    .GiveTipList{
       width: 25%;
    }
}
    
    @media only screen and (max-width: 600px){
        .HeaderPicture{
            position: absolute;
            margin-left: 53.3%;
            top: -30px;
            width: 45%;
        }
        .Text_First{
            font-size: 32px; 

        }
        .First_Title{
            font-size: 0.95rem;
        }
        .First_Line_Par,.Second_Line_Par,.Therd_Line_Par,.Forth_Line_Par,.Fifth_Line_Par{
            font-size: 12px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
        .GetStarted{
            font-size:13px;
            margin-left: 9%;
            width: 80%;
        }
        .First_Line_Content{
            margin-top: -40px;
            /* margin-left: 15%; */
            font-size: 16px;
        }
        .FirstList{
            width: 32%;
            margin-top:0px;
            margin-left: 14%;
            height: auto;
        }
        .SecondList{
            width: 32%;
            margin-top:0px;
            margin-left: 58%;
            height: auto;
        }
        .TherdList{
            width: 35%;
            margin-top:250px;
            margin-left: 37%;
            height: auto; 
        }
        .FirstParUnderDonatePicture{
            font-size: 11px;
            margin-top: -20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .FirstParUnderCompanyPicture{
            font-size: 11px;
            margin-top: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
        .FirstParUnderassociationPicture{
            font-size: 11px;
            margin-top: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
        .SecondParUnderassociationPicture{
            font-size: 11px;
            margin-top: -10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

        }
        .Signal{
            margin-top: 0px;
            font-size: 60px;
        }
        .FirstTitleAfterSignal{
            margin-top: -60px;
            font-size: 24px;  
        }
        .SecondTitleAfterSignal{
            font-size: 24px;
            margin-top: -20px;
        }
        .ShareList{
            width: 33%;
            margin-top: 0px;
            margin-left: 15%;
        }
        .GiveTipList{
            width: 33%;
            margin-top: 0px;
            margin-left: 55%;
        }
        .FirstParUndertipPicture{
            font-size: 12px;
            margin: 30px;
            margin-bottom: -10px;
        }    
        .share{
            font-size:13px;
            margin-top: 20px;  
            width: 80%;
        }
        .Give{
            font-size:13px;
            width: 80%;
            margin-left: 10%;
        }
        .CarListEmail{
            margin-top: -100px;
            width: 80%;
            margin-left: 10%;
        }
        .bottom{
            min-width:55%;
            font-size:11px;
            margin-top: -60px;
            left:27%;
        }
        .icon_close{
            float: right;
        }
        .CarPicture{
            width: 75px;
            margin-top: 22px;
            margin-left: 45%;
        }
        .vr{
            font-size: 20px;
            }
            .FirstLineAftreCar{
                font-size: 15px;
            }
            .TherdLineAftreCar{
                font-size: 13px; 
            }
            .Who_We{
                margin-top: 75px;
                font-size: 28px;
            }
            .SophianPictureList{
                margin-top: 0px;
                margin-left:15%;
            }
            .AntoinePictureList{
                margin-top: 0px;
                margin-left:60%;
            }
            .HamzaPictureList{
                margin-top: 420px;
                margin-right: 55%;
            }
      
            .BasharPictureList{
                margin-top: 210px;
                margin-left:60%;
            }
            .YohannPicture{
                margin-left: -15%;
            }
            .HalaaPictureList{
                margin-left:15%;
                margin-top: 630px;
            }
            .PashuPictureList{
                margin-left:60%;
                margin-top: 630px;
            
            }
            .YohannPictureList{
                margin-top: 210px;
                margin-left:5%;
            }
            .RefaeePictureList{
                margin-top: 420px;
                margin-left:60%;
            }
            footer{
                margin-top: 900px;
                width: 97%;
            }
            .FirstParUndeYohannePicture{
                margin-left: -27%;
            }
            .borderPictureEmail{
                width: 36%;
            }

    }
    @media only screen and (max-width: 500px){
        .HeaderPicture{
            position: absolute;
            margin-left: 56.7%;
            top: 0px;
            width: 40%;
            
        }
        .Text_First{
            font-size: 26px; 
        }
        .First_Title{
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .First_Line_Par,.Second_Line_Par,.Therd_Line_Par,.Forth_Line_Par,.Fifth_Line_Par{
            font-size: 12px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .GetStarted{
            font-size:10px;
        }
        .First_Line_Content{
            margin-top: -40px;
            font-size: 14px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .picture_border{
            margin-top:0px;
            width: 9%;
        }
        .FirstList{
            height: auto;
            margin-top:0px;
            margin-left: 27%;
          width: 50%;
        }
        .SecondList{
            height: auto;
            width: 50%;
            margin-top:250px;
            margin-left: 27%;
        }
        .TherdList{
            height: auto;
            width: 50%;
            margin-top:500px;
            margin-left: 27%;
        }
        .donatePicture,.CompanyPicture{
            height: 120px; 
        }
        .titleUnderDonatePicture,.titleUnderDonateePicture,.titleUnderCompanyPicture{
            font-size: 15px;
            margin-top: -10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .FirstParUnderDonatePicture{
            font-size: 13px;
            margin-top: -22px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .FirstParUnderCompanyPicture{
            font-size: 13px;
            margin-top: 0px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .FirstParUnderassociationPicture{
            font-size: 13px;
            margin-top: -5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .SecondParUnderassociationPicture{
            font-size: 13px;
            margin-top: -5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .titleUnderassociationPicture{
            font-size: 15px;
            margin-top: -15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .ButSecondList{
            
            font-size: 13px;
           
        }
        .ButFirstList{
            font-size: 13px;
            
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .ButTherdList{
            font-size: 13px;
            
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .Signal{
            margin-top: 275px;
            font-size: 60px;
          
        }
        .FirstTitleAfterSignal{
            margin-top: -60px;
            font-size: 24px;  
            
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .SecondTitleAfterSignal{
            font-size: 24px;
            margin-top: -20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .ShareList{
            margin-top: 0px;
            margin-left: 10%;
        }
        .GiveTipList{
            margin-top: 0px;
            margin-left: 65%;
        }
        .sharePicture,.tipPicture{
            width: 45px;
            margin-left: 30%;
        }
        .sharePicture{
            margin-left: 32%;
        }
        .titleUnderSharePicture{
            font-size: 15px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        }
        .FirstParUnderSharePicture,.SecondParUnderSharePicture,.TherdParUnderSharePicture{
            font-size: 12px;
            margin-top: -5px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .SecondParUnderSharePicture,.TherdParUnderSharePicture{
                margin-top: -15px;  
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            .titleUndertipPicture{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
                font-size: 15px;
               
                margin-top: 22px; 
            }
            .FirstParUndertipPicture{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -5px;
                font-size: 12px;
                
            }
            .SecondParUndertipPicture{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
                margin-top: -8px; 
                font-size: 12px;
                margin-left: -6%;
            }
            .share{
                width: 75%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
                margin-top: 0px;
            font-size: 13px;
            height:auto;
            }
            .Give{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                width: 75%;
                margin-bottom: 100px;
            font-size: 13px;
            height: auto;
            }
            .bottom{
                min-width:80%;
                font-size:11px;
                margin-top: -100px;
                left:35%;
            }
            .icon_close{
                float: right;
            }
        .CarListEmail{
            margin-top: -150px;
            width: 90%;
            margin-left: 4%;
            height: auto; 
        }
        .CarPicture{
            width: 75px;
            margin-top: 22px;
            margin-left: 45%;
        }
        .vr{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
            
            font-size: 20px;
            
           
            }
            .FirstLineAftreCar{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
                
                font-size: 15px;
            }
            .TherdLineAftreCar{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
                font-size: 13px; 
               
            }
            .borderPictureEmail{
                width: 39%;
            }

            .Who_We{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
                margin-top: 75px;
                font-size: 20px;
               
            }
            .SophianPictureList{
                width: 100%;
                left: 0;
                margin-left: 0;
            }
            .AntoinePictureList{
                margin-top: 210px;
                width: 100%;
                left: 0;
                margin-left: 0;
            }
            .HamzaPictureList{
                width: 100%;
                margin-top: 840px;
                left: 0;
                margin-left: 0;
            }
            .HamzaPicture{
                margin-left:25%;
            }
            .BasharPictureList{
                width: 100%;
                margin-top: 630px;
                left: 0;
                margin-left: 0;
            }
            .HalaaPictureList{
                width: 100%;
                margin-top: 1260px;
                left: 0;
                margin-left: 0;
            }
            .PashuPictureList{
                width: 100%;
                margin-top: 1470px;
                left: 0;
                margin-left: 0;
            }
            .YohannPictureList{
                width: 100%;
                margin-top: 420px;
                left: 0;
                margin-left: 0;
            }
            .YohannPicture{
                margin-left: -5%;
            }
            .RefaeePictureList{
                width: 100%;
                margin-top: 1050px;
                left: 0;
                margin-left: 0;
            }
            .RefaeePicture{
                margin-left:38%;
            }
       .FirstParUndeYohannePicture{
           margin-left: 0%;
       }
            footer{
                margin-top:1850px;
                width: 97%;
            }
            .linkFooter{
        
                
                color: #ffe600;
                text-decoration: #ffe600;
            }
        }
        @media only screen and (max-width: 474px){
            .FirstParUndertipPicture{
              margin-bottom: -20px;  
            }
    }
    @media only screen and (max-width: 433px){
        .FirstParUndertipPicture{
          margin-bottom: -30px;  
        }
}
@media only screen and (max-width: 381px){
    .FirstParUndertipPicture{
      margin-bottom: -25px;  
    }
}
@media only screen and (max-width: 360px){
    .RefaeePicture{
        margin-left:30%;
    }
    .HamzaPicture{
        margin-left:15%;
    }
}

@media only screen and (max-width: 348px){
    .ShareList{
        margin-top: 0px;
        margin-left: 10%;
    }
    .GiveTipList{
        width: 40%;
        margin-top: 0px;
        margin-left: 65%;
    }
            .titleUndertipPicture{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 15px;
                margin-top: 22px; 
            }
            .FirstParUndertipPicture{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: -5px;
                font-size: 12px;  
            }
            .SecondParUndertipPicture{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top: -8px; 
                font-size: 12px;
                margin-left: -6%;
            }
            .share{
                width: 85%;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                margin-top: 0px;
            font-size: 13px;
            height:auto;
            }
            .Give{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                width: 75%;
                margin-bottom: 100px;
            font-size: 13px;
            height: auto;
            }

        }


@media only screen and (max-width: 340px){
    .TherdList{
        margin-top: 525px;
    }
    .Signal{
        margin-top: 325px;
    }

}

@media only screen and (max-width: 332px){
    .share{
        width: 95%;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 0px;
    font-size: 13px;
    height:auto;
    }
}
@media only screen and (max-width: 326px){
    .ShareList{
        width: 35%;
    }
}
